<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <link rel="shortcut icon" href="/img/favicon.png" type="image/png">

        <!-- <meta property="fb:app_id" content="123456789">
        <meta property="og:url" content="https://www.kondor.com.br/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Content Title">
        <meta property="og:image" content="https://www.kondor.com.br/img/logo-kondor.jpg">
        <meta property="og:description" content="Description Here">
        <meta property="og:site_name" content="Site Name">
        <meta property="og:locale" content="en_US">
        <meta property="article:author" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@site_account">
        <meta name="twitter:creator" content="@individual_account">
        <meta name="twitter:url" content="http://example.com/page.html">
        <meta name="twitter:title" content="Content Title">
        <meta name="twitter:description" content="Content description less than 200 characters">
        <meta name="twitter:image" content="http://example.com/image.jpg"> -->

        <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
        <meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>" />
        <meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.title %>" />
        <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="app"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1234567890987654';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-18205878-1"></script>
        <script>window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-12345678-00');</script>
    </body>
</html>
